<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Team no:</strong>
  <%= @team.team_no %>
</p>

<p>
  <strong>Team leader:</strong>
  <%= @team.user.name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
