<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @customer.reference %>
</p>

<p>
	<strong>Jobs</strong><br>
  <% @projects.each do |project| %>
  	--------------------------------
    <%= link_to project_path(project.id) do %>
  	<br>
  	<strong>Job Type:</strong>
		<%= project.job_type %><br>
		<strong>Added by:</strong>
  	<%= project.added_by %><br>

    <% end %>
		--------------------------------
  <% end %>
</p>

<%= link_to 'New Project', new_project_path(:reference => generate_project_reference, :customer_id => @customer.id) %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
