<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id %> 
  
  <div class="field">
    <% if current_user && !current_user.customer? %>
      <div class="field">
        <%= f.label :customer, value: "Customer Name" %><br>
        <%= f.text_field :customer %>
      </div>
      <div class="field">
        <%= f.label :email, value: "Customer email" %>
    <% else %>
      <%= f.label :email %>
    <% end %>
    <br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_field :reference, :value => generate_project_reference %>
  </div>
  <div class="field">
    <%= f.label :added_by %><br>
    <%= f.text_field :added_by %>
  </div>
  <div class="field">
    <%= f.label :job_type %><br>
    <%= f.select :job_type, options_for_job_type, :prompt => "Select a job type" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
