<div class="col-md-6">
		
	<div class="stack-box highlight">
		<div class="title">Type</div> 
		<%= @project.job_type %> 
		
			<div class="add-icon" id="design-icon" title="Design Job?">
				<i class="fa <%= icon_check(@project.design) %> fa-2x" ></i><br>
				Design
			</div>
		
			<div class="add-icon" id="quoted-icon" title="Deposit Paid?">
				<i class="fa <%= icon_check(@project.deposit) %> fa-2x"></i><br>
				Deposit
			</div>
	
			<div class="add-icon" id="contract-icon" title="Contract Signed?">
				<i class="fa <%= icon_check(@project.contract) %> fa-2x" ></i><br>
				Contract
			</div>
	
	</div>
	<div class="stack-box highlight">
		<div class="title">Budget</div> 
		<%= budget(@project.budget) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.handled %>" id="handler-box">
		<div class="title">Surveyor</div> 
		<%= test_handler(@project.handled) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.quote %>" id="stack-box">
		<div class="title">Quote</div> 
		<%= test_quote(@project.quote) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.team %>" id="team-box">
		<div class="title">Team</div> 
		<%= test_team(@project.team) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.start_date %>" id="start-box">
		<div class="title">Start date</div> 
		<%= test_start(@project.start_date) %>
	</div>

	<% if current_user.admin? %>
		<%= link_to edit_project_path(@project), remote: true do %>
			<div class="stack-box" id="update-stack">
				Update Project
			</div>
		<% end %>
	<% end %>

	<%= link_to edit_project_path(@project) do %>
		<div class="stack-box" id="update-stack">
			View Documents
		</div>
	<% end %>
	



</div>
