<div class="col-md-6">
		
	<div class="stack-box highlight">
		<div class="title">type</div> 
		<%= @project.job_type %> 
		<% if @project.design? %>
			<div class="add-icon" id="design-icon" title="A Design Job">
				<i class="fa fa-crop fa-2x" ></i><br>
				Design
			</div>
		<% end %>
		<% if @project.quote? %>
			<div class="add-icon" id="quoted-icon" title="Quote Generated">
				<i class="fa fa-check fa-2x"></i><br>
				Quoted
			</div>
		<% end %>
		<% if @project.contract? %>
			<div class="add-icon" id="contract-icon" title="Contract Signed">
				<i class="fa fa-check fa-2x" ></i><br>
				Contract
			</div>
		<% end %>
	</div>

	<div class="stack-box highlight">
		<div class="title">budget</div> 
		<%= budget(@project.budget) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.handled %>" id="handler-box">
		<div class="title">handler</div> 
		<%= test_handler(@project.handled) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.quote > 0 %>" id="stack-box">
		<div class="title">quote</div> 
		<%= test_quote(@project.quote) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.team %>" id="team-box">
		<div class="title">team</div> 
		<%= test_team(@project.team) %>
	</div>

	<div class="stack-box <%= "highlight" if @project.start_date %>" id="start-box">
		<div class="title">start date</div> 
		<%= test_start(@project.start_date) %>
	</div>

</div>
