<div id="welcome-bar" class="bar-style bar-thin add-margin bold-bar">
  <span><%= @project.reference %></span>
</div>

<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <%= link_to "Invite Customer", send_invite_project_path(@project) %>
<% end %>

<p>
  <strong>email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @project.added_by %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @project.job_type %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

